<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Control De Acceso</title>
    <meta charset=" UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>


</head>
<body>


<div  layout:fragment="content" >
    <h1>Lista de controladores del municipio</h1>
    <div align="center">
        <table  class="table table-striped">
            <thead>
            <tr>
                <th >DNI</th>
                <th >Espacio</th>
                <th >Horario</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="lista: ${controladores}">
            <tr th:each="controlador: ${lista}">
                <td  th:text="${controlador.dni}"></td>
                <td  th:text="${conrolador.nombre}"></td>
                <td th:text="${controlador.usuario}"></td>
                <td><a th:href="@{/controlador/update/{dni}(dni=${user.dni})}" class="btn btn-warning" role="button">Edita</a></td>
                <td><a th:href="@{/controlador/delete/{dni}(dni=${user.dni})}" class="btn btn-danger" role="button">Borrar</a></td>

            </tr>
            </div>
            </tbody>
        </table>


    </div>

    <button onClick="history.back()" class="btn boton_azul" role="button" ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="20"  alt="x"> Volver</button>
    <br><br>
    <br><br>
</div>

</body>
</html>