
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Control De Acceso</title>
    <meta charset=" UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

</head>

<body>


<div layout:fragment="content">
    <br>
    <h1 >Lista de controladores del Espacio</h1>
    <div align="center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre y Apellidos</th>
                <th>Nombre de usuario</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
            </thead>
            <div th:each="lista: ${controladores}" class="principal">
            <tr th:each="controlador: ${lista}" class="p2">
                <td th:text="*{controlador.dni}"></td>
                <td th:text="*{controlador.nombre}"></td>
                <td th:text="*{controlador.usuario}"></td>
                <td th:text="*{controlador.email}"></td>
                <td th:text="*{controlador.telefono}"></td>
                <td><a th:href="@{/controlador/update/{dni}(dni=${controlador.dni})}" class="btn btn-warning" role="button">Edita</a></td>
                <td><a th:href="@{/controlador/delete/{dni}(dni=${controlador.dni})}" class="btn btn-danger" role="button">Borrar</a></td>
            </tr>
        </div>
            <br>
        </table>
        <a onClick="history.back()" class="btn boton_azul" role="button" ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="20"  alt="x"> Volver</a>
    </div>


</div>


<br>
</body>
</html>