
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Control De Acceso</title>
    <meta charset=" UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

</head>

<body>


<div layout:fragment="content">
    <br>
    <h1 >Lista de controladores de todo el municipio</h1>
    <h4>*Los días de la semana se representan como:</h4>
    <h5>L=lunes   M=martes   X=miércoles   J=jueves   V=viernes   S=sábado   D=domingo</h5>
    <div align="center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>DNI</th>
                <th>Espacio que controla</th>
                <th>Días de la semana que trabaja</th>
            </tr>
            </thead>
            <div th:each="lista: ${controladores}" class="principal">
            <tr th:each="controlador: ${lista}" class="p2">
                <td th:text="*{controlador.dni}"></td>
                <td th:text="*{controlador.espacio_publico}"></td>
                <td th:text="*{controlador.diasSemanaTrabaja}"></td>

                <td><a th:href="@{/controlador/update/{dni}(dni=${controlador.dni})}" class="btn btn-warning" role="button">Edita</a></td>
                <td><a th:href="@{/controlador/delete/{dni}(dni=${controlador.dni})}" class="btn btn-danger" role="button">Borrar</a></td>
            </tr>
        </div>
            <br>
        </table>
        <button onClick="history.back()" class="btn boton_azul"><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="20"  alt="x"> Volver</button>
    </div>


</div>


<br>
</body>
</html>