<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>Zonas</title>
  <meta charset=" UTF-8" />
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/estils.css"
        th:href="@{/css/estils.css}"/>

</head>
<body>


<div  layout:fragment="content" >
  <h1>Zona añadida</h1>
  <div style=" height: 600px; width:400px; text-align:center; margin: auto;">
    <p>Se ha añadido la zona correctamente.</p>

<!--                                                                                            redirigir a las zonas del espacio-->
    <button type="button" class="boton_azul"  style=" font-size:30px;"  onclick="location.href='/zonas/listPorEspacio'">Lista de zonas<span class="sr-only"></span></button>
    <button type="button" class="boton_azul"  style=" font-size:30px;"  onclick="location.href='/gestor/index'">Inicio<span class="sr-only"></span></button>
  </div>
</div>


</body>
</html>