<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Espais naturals</title>
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
</head>
<body>
    <div style="padding: 25px 50px;background-color:#B0E0E6;"><h1 >Bienvenido.¿Quien eres?</h1></div>
        <form action="buscaUsuario.html">
            <label>Introduc tu dni para ver tus datos.</label>
            <input type="text" name="dni"><br>
            <input type="submit" value="Búscame">
        </form>
    <br>
    <div>
        <a href="@{list.html}" role="button">Ver todos los usuarios</a>
    </div>
</div>
</body>
</html>