
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Editar perfil</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<style>
body {
  background-color: lightgreen;
}

div {
  background-color: white;
}


</style>
<body>

<div class="container">
    <h2>Editar perfil </h2>
    <div align="center" >
        <form action="#" th:action="@{/user/update}"
              th:object="${user}" method="post">
            <table>
                <tr>

                    <td><input type="text" th:field="*{dni}" hidden/></td>
                </tr>
                <tr>

                    <td><input type="text" th:field="*{usuario}" hidden /></td>
                </tr>
                <tr>
                    <td><label>Nombre y apellidos</label></td>
                    <td><input type="text" th:field="*{nombre}" /></td>
                </tr>
                <tr>

                    <td><input type="text" th:field="*{telefono}" hidden/></td>
                </tr>
                <tr>

                    <td><input type="text" th:field="*{email}"hidden /></td>
                    <td><input type="text" th:field="*{tipoUsuario}"hidden /></td>
                </tr>
                <tr>

                    <td><input type="password" th:field="*{contraseña}" hidden/></td>
                </tr>
                <tr>
                    <td><label>Año nacimiento</label></td>
                    <td ><input type="date" th:field="*{nacimientoString}" /></td>

                </tr>
                <tr>
                    <td><label>Ciudad</label></td>
                    <td><input type="text" th:field="*{ciudad}" /></td>
                </tr>
                <tr>
                    <td><label>Calle</label></td>
                    <td><input type="text" th:field="*{calle}" /></td>
                </tr>
                <tr>
                    <td><label>Código postal</label></td>
                    <td><input type="text" th:field="*{cp}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" role="button" class="btn btn-success"  value="Aceptar" /></td>

                </tr>
            </table>

        </form>
    </div>
    <a href="../list" class="btn btn-primary" role="button" >Volver</a>
</div>



</body>
</html>