<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <style>

          .barra_marron{
            background-color:#30180b;
    }

    </style>
</head>
<body>
<!--<div style="background: rgba(63, 72, 204, 1);"><h6 class="mb-0"></h6>-->
<!--<div style="background: #3f48cc"><h6 class="mb-0"></h6></div>-->
<div style="background: #1c9767; ">
    <table style="width:100%;"><tr><td style="text-align: left;"><a href="https://www.uji.es/"><img src="http://imgfz.com/i/7wYrtfZ.png" width="160" height="30" align="left" ></a></td><td style="text-align: right;"><p style="font-size:70%; color:white;">Idioma: Español | ei102720gpr&nbsp;&nbsp;&nbsp;</p></td></tr></table>

    <nav class="navbar navbar-inverse barra_marron">
        <table style="width:100%;">
            <tr>

                <td style="text-align:left; background-color:#30180b;">
                    <div style="text-align:center; background-color:#30180b;">
                        <div style=" background-color:#30180b;"class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav mr-auto" style="text-align:center;">
                                <li style="font-size:20px;"  role="presentation"><a role="menuitem" tabindex="-1"  th:href="@{/user/list}">Usuarios</a></li>

                            </ul>
                        </div>
                    </div>
                </td>

            </tr>

        </table>
    </nav>
</div>

</body>
</html>