<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Usuario incorrecto</title>


</head>
<body>
<div  layout:fragment="content"  th:object="${session}" style="height: 700px; width:400px; text-align:center; margin: auto;">
    <img src="https://image.flaticon.com/icons/svg/753/753345.svg" width="180" height="180">
    <table>
        <tr><td><h2>No tienes permiso para acceder a esta página.</h2></td></tr>
        <tr><td><h3>Inicia sesión con el usuario correcto</h3></td></tr>
    </table>
    <br>
    <br>
    <br>
    <button onClick="history.back()" class=" btn boton_azul"  ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="20"  alt="x"> Volver</button>
    <br>
    <br>
</div>
</body>
</html>