
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Añadir espacio público</title>
    <meta charset=" UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

<body>

<div layout:fragment="content">
    <br>
    <h1 >Añadir espacio público</h1>
    <div align="center" style="height: 600px;" >
        <form action="#" th:action="@{/espacios/add}" th:object="${espacio}" method="post">
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" class="form-control" th:field="*{id}" /></td>
                </tr>
                <tr>
                    <td  class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="font-size:15px"></td>
                </tr>
                <tr>
                    <td><label>Título</label></td>
                    <td><input type="text" class="form-control" th:field="*{nombre}" /></td>
                </tr>
                <tr>
                    <td class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="font-size:15px"></td>
                </tr>

<!--                <tr>-->
<!--                    <td><label>Municipio</label></td>-->
<!--                    <td><input type="text" class="form-control" th:field="*{municipio}" /></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="error" th:if="${#fields.hasErrors('municipio')}" th:errors="*{municipio}" style="font-size:15px"></td>-->
<!--                </tr>-->



                <tr>
                    <td><label>Tipo de espacio</label></td>
                    <td><input type="text" class="form-control" th:field="*{tipo_espacio}" /></td>
                </tr>
                <tr>
                    <td class="error" th:if="${#fields.hasErrors('tipo_espacio')}" th:errors="*{tipo_espacio}" style="font-size:15px"></td>
                </tr>



                <tr>
                    <td><label>Código postal</label></td>
                    <td><input type="text" class="form-control" th:field="*{cp}" /></td>
                </tr>
                <tr>
                    <td class="error" th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}" style="font-size:15px"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td>    <button onClick="history.back()" class=" btn boton_azul"  ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="20"  alt="x"> Volver</button>
                    </td>
                    <td colspan="2"><input type="submit" role="button" class="btn boton_verde"  value="Aceptar" /></td>

                </tr>
            </table>

        </form>
    </div>

</div>



</body>
</html>