
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Realizar una reserva</title>
    <meta charset=" UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
</head>

<body>

<div layout:fragment="content">
    <h2>Zonas disponibles </h2>
    <div align="center" >
        <div >
            <div th:each="lista: ${matrizEspacios}" class="principal">
                <div th:each="espacio: ${lista}" class="p2">
                    <div class="p3" >
                        <b style="margin:0;display:inline">Municipio: </b><p style="margin-left:5px;display:inline" th:text="*{espacio.municipio}"></p>
                        <a style="margin-top: 10px;" th:href="@{./prereserva/{espacio}(espacio=${espacio.id})}" >
                            <img th:src="@{/images/espacios/espacio-{espacio}.jpg(espacio=${espacio.id})}" class="imgRedonda">
                            <!--                    <img src="/images/espacios/espacio-des4.jpg" class="imgRedonda">-->
                        </a>
                        <br>
                        <a th:href="@{./prereserva/{espacio}(espacio=${espacio.id})}" style=" margin:auto; margin-top: 10px;" class="btn boton_azul" role="button" >Más info</a>
                    </div>

                </div>
                <br>
            </div>
            <br>

        </div>

    </div>
    <a href="./list" class="btn btn-primary" role="button" >Volver</a>
</div>



</body>
</html>