<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Reservas</title>
    <meta charset=" UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

</head>
<body>


<div  layout:fragment="content" >
    <h1>Tus reservas</h1>
    <div align="center">
        <table  class="table table-striped">
            <thead>
            <tr>

                <th >Zonas</th>
                <th >Estado de la Reserva</th>
                <th> Fecha </th>
                <th> Hora de la reserva</th>
                <th> Fin de la reserva</th>
                <th> Número de asistentes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="res: ${reservas}">

                <td th:text="${res.zona}"></td>
                <td th:text="${res.estado_reserva}"></td>
                <td th:text="${#temporals.format(res.fechaIni,'dd MMMM yyyy')}"></td>
                <td th:text="${res.horaIniString}"></td>
                <td th:text="${res.horaFinString}"></td>
                <td th:text="${res.numPersonas}"></td>
                <td><a th:href="@{/espacios/prereserva/{id}(id=${res.espacio_publico})} "  class="boton_azul" >Ir a espacio</a></td>
                <td><a th:href="@{/reservas/update/{id}(id=${res.id})} " class="boton_verde">Modificar reserva</a></td>
                <td><a th:href="@{/reservas/canceladaU/{id}(id=${res.id})}" class="boton_rojo" >Borrar</a></td>
            </tr>
            </tbody>
        </table>


    </div>

    <br><br>
    <br><br>
</div>

</body>
</html>